In [1]:
import mysql.connector
import csv
import pymysql

In [2]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\brenda.onyango\anaconda3\lib\site-packages (1.0.2)

In [2]:
#Connect to server
mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    password='solo2018'    
)

print("Report Loading")

Report Loading

In [3]:
#Create the cursor object
cursor = mydb.cursor()

In [4]:
#Create the Database
cursor.execute('CREATE DATABASE IF NOT EXISTS Fisheries')
print("Fisheries DB Created")

Fisheries DB Created

In [8]:
cursor.execute("SHOW DATABASES")
for x in cursor:
    print(x)

('academics',)
('academics2',)
('brendaonyango',)
('fisheries',)
('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [5]:
import mysql.connector as brenda

In [6]:
mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    password='solo2018',
    database='Fisheries'
)

In [7]:
#Create Boat Table
cursor = mydb.cursor()

cursor.execute("CREATE TABLE IF NOT EXISTS Boat("
                  "BoatId INT PRIMARY KEY,"
                  "BoatName VARCHAR(100),"
                  "BoatSize INT(10),"
                  "BoatLength INT(10),"
                  "StationId INT(10),"
                  "BoatCapacity INT(20),"
                   "Fishing BOOLEAN)")
               
print("Table Boat Created Successfully")

Table Boat Created Successfully

In [8]:
#Create Fisher Table
import mysql.connector as brenda

mydb = brenda.connect(
        host = "localhost",
        user="root",
        password ="solo2018",
        database = "Fisheries"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE IF NOT EXISTS Fisher("
                 "FishermanId INT(10) PRIMARY KEY,"
                  "FisherName VARCHAR(100),"
                  "BoatId INT(10),"
                  "PhoneNumber INT(10),"
                  "EmailAddress VARCHAR(100),"
                  "Age INT(10));")
print("Table Fisher Created Successfully")

Table Fisher Created Successfully

In [9]:
#Create Owner Table
import mysql.connector as brenda

mydb = brenda.connect(
        host = "localhost",
        user="root",
        password ="solo2018",
        database = "Fisheries"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE IF NOT EXISTS Owner("
                 "OwnerId VARCHAR(100) PRIMARY KEY,"
                 "OwnerName VARCHAR(100),"
                  "BoatId VARCHAR(100),"
                  "PhoneNumber INT(10),"
                  "EmailAddress VARCHAR(100));")
print("Table Owner Created Successfully")

Table Owner Created Successfully

In [10]:
#Create Station Table
import mysql.connector as brenda

mydb = brenda.connect(
        host = "localhost",
        user="root",
        password ="solo2018",
        database = "Fisheries"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE IF NOT EXISTS Station("
                 "StationId INT(10) PRIMARY KEY,"
                  "StationName VARCHAR(100),"
                  "Address VARCHAR(100),"
                  "EmailAddress VARCHAR(100));")
print("Table Station Created Successfully")

Table Station Created Successfully

In [22]:
cwd = os.getcwd()
print("Current working directory: {0}".format(cwd))

Current working directory: C:\Users\brenda.onyango

In [12]:
#os.listdir()

In [34]:
import os
fn=r"C:\\Users\\brenda.onyango\\Downloads\\Fisher.csv"
os.path.exists(fn)

True

In [11]:
#Insert Boat records from a csv file
import mysql.connector as brenda
import csv
import pymysql

mydb = brenda.connect(
        host = "localhost",
        user="root",
        password ="solo2018",
        database = "Fisheries"
)
Fisher = mydb.cursor()

#read data from csv file - make it a raw string
cursor = csv.reader(open(r"C:\Users\brenda.onyango\Downloads\Boat.csv"))


next(cursor)

for row in cursor:
    
    Fisher.execute("INSERT IGNORE INTO Boat(BoatId,BoatName,BoatSize,BoatLength,StationId,BoatCapacity,Fishing) VALUES(%s,%s,%s,%s,%s,%s,%s)",row)

mydb.commit()
Fisher.close()

print("Data Entered into Boat")

Data Entered into Boat

In [13]:
import mysql.connector as brenda
import csv
import pymysql

mydb = brenda.connect(
        host = "localhost",
        user="root",
        password ="solo2018",
        database = "Fisheries"
)
esther = mydb.cursor()

cursor = csv.reader(open("C:\\Users\\brenda.onyango\\Downloads\\Owner.csv","r"))

next(cursor)

for row in cursor:
    
    esther.execute("INSERT INTO Owner(OwnerId,OwnerName,BoatId,PhoneNumber,EmailAddress) VALUES(%s,%s,%s,%s,%s)",row)

mydb.commit()
esther.close()

print("Data Entered into Owner Table")

Data Entered into Owner Table

In [14]:
import mysql.connector as brenda
import csv
import pymysql

mydb = brenda.connect(
        host = "localhost",
        user="root",
        password ="solo2018",
        database = "Fisheries"
)
esther = mydb.cursor()

cursor = csv.reader(open("C:\\Users\\brenda.onyango\\Downloads\\Fisher.csv","r"))

next(cursor)

for row in cursor:
    
    esther.execute("INSERT INTO Fisher(FishermanId,FisherName,BoatId,PhoneNumber,EmailAddress, Age) VALUES(%s,%s,%s,%s,%s,%s)",row)

mydb.commit()
esther.close()

print("Data Entered into Fisher Table")

Data Entered into Fisher Table

In [15]:
import mysql.connector as brenda
import csv
import pymysql

mydb = brenda.connect(
        host = "localhost",
        user="root",
        password ="solo2018",
        database = "Fisheries"
)
esther = mydb.cursor()

cursor = csv.reader(open("C:\\Users\\brenda.onyango\\Downloads\\Station.csv","r"))

#Insert Records
next(cursor)

for row in cursor:
    
    esther.execute("INSERT INTO Station(StationId,StationName,Address) VALUES(%s,%s,%s)",row)

mydb.commit()
esther.close()

print("Data Entered into Station Table")

Data Entered into Station Table

In [ ]:
import mysql.connector as brenda

mydb = brenda.connect(
        host = "localhost",
        user="root",
        password ="solo2018",
        database = "Fisheries
)
port = mydb.cursor()

port.execute('''SELECT * FROM 
               (Colleges INNER JOIN Professors ON Colleges.CollegeId = Professors.CollegeId) 
               INNER JOIN Students ON Professors.CollegeId = Students.CollegeId''');
print(port.fetchall())

mydb.commit()
#port.close()

In [16]:
import mysql.connector as brenda

mydb = brenda.connect(
        host = "localhost",
        user="root",
        password ="solo2018",
        database = "Fisheries"
)
port = mydb.cursor()

#Join Boat and Station tables
def fishing():
    port.execute("""SELECT * FROM Boat INNER JOIN Station ON Boat.StationId = Station.StationId""")

    
    for z in port.fetchall():
        print(z)

fishing()

(193736, 'Sea Queen', 36, 250, 598210, 16000, 0, 598210, 'San Diego Bay', '365 Kirk St', None)
(672728, 'Lady Breeze', 36, 260, 681304, 18000, 0, 681304, 'Fa rRockaway', '12 Kings Highway', None)
(719672, 'Trailblazer', 60, 330, 492737, 30000, 0, 492737, 'Fishers Land', '992 Dorado Ln', None)
(727293, 'Carolina', 45, 300, 912076, 25000, 0, 912076, 'Miami Dock', '12 Florida', None)
(754424, 'Summer', 40, 280, 768280, 20000, 0, 768280, 'Cape Cod', '412 Boston Dr', None)

In [17]:
import mysql.connector as brenda

mydb = brenda.connect(
        host = "localhost",
        user="root",
        password ="solo2018",
        database = "Fisheries"
)
docker = mydb.cursor()

#Join Fisher and Owner tables with Boat Table
def fishing():
    docker.execute("""SELECT * FROM Fisher INNER JOIN Boat ON Fisher.BoatId = Boat.BoatId 
               INNER JOIN Owner ON Owner.BoatId = Boat.BoatId""")

    
    for z in docker.fetchall():
        print(z)

fishing()

(98662, 'Walter Pistini', 727293, 69367532, 'pistinini@yahoo.com', 44, 727293, 'Carolina', 45, 300, 912076, 25000, 0, '21092', 'Dean Calem', '727293', 72735242, 'calemddd@yahoo.com')
(90652, 'Brian Coplan', 193736, 59432822, 'cop.b@ymail.com', 48, 193736, 'Sea Queen', 36, 250, 598210, 16000, 0, '38762', 'Andy Troy', '193736', 64243965, 'andytroy@gmail.com')
(12322, 'Igor Stavic', 754424, 93583527, 'stavic.r.i@gmail.com', 37, 754424, 'Summer', 40, 280, 768280, 20000, 0, '67262', 'Brad Cooper', '754424', 87273379, 'bradcooper@ymail.com')
(25042, 'Reggie Nander', 719672, 48621906, 'nanderR@aol.com', 51, 719672, 'Trailblazer', 60, 330, 492737, 30000, 0, '87622', 'Roger Bloom', '719672', 23538893, 'rogerbloom@gmail.com')
(54662, 'Glenn Bodin', 672728, 37247373, 'glenbodin@gmail.com ', 40, 672728, 'Lady Breeze', 36, 260, 681304, 18000, 0, '89833', 'Lynn Camper', '672728', 66283739, 'lynnc@gmail.com')